html,
body {
    height: 100%;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url(background.jpg);
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.container-one {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background: rgba(255, 255, 255, 0.189); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(6.2px); */
    /* -webkit-backdrop-filter: blur(6.2px); */
    border: 1px solid rgba(255, 255, 255, 0.292);
    height: 70%;
    width: 25%;
    border-radius: 1.5rem;
    overflow: hidden;
    /* background-image: url(redbull.png);
    background-size: 220% auto;
    background-position: 80% 30%;
    background-repeat: no-repeat; */
}

#container-bg {
    position: absolute;
    top: 0;
    right: 10%;
    width: 160%;
    height: 100%;
    object-fit: cover; /* To mantain aspect ratio*/
    z-index: -1;
    opacity: 0.4;
}

.top-section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
    /* border-radius: inherit; */
    background: rgba(255, 255, 255, 0.120);
    backdrop-filter: blur(1.5px);
}

.top-section-one img {
    height: auto;
    width: 90%;
}

.bottom-section-one {
    width: 100%;
    height: 35%;
    background: rgba(255, 255, 255, 0.232);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.container-two {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.129);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.292);
    height: 70%;
    width: 25%;
    border-radius: 1rem;
    overflow: hidden;
}

.top-section-two {
    height: 65%;
    width: 100%;
    border-radius: inherit;
}

.bottom-section-two {
    width: 100%;
    height: 35%;
    background: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.container-three {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.129);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.292);
    height: 70%;
    width: 25%;
    border-radius: 1rem;
    overflow: hidden;
}

.top-section-three {
    height: 65%;
    width: 100%;
    border-radius: inherit;
}

.bottom-section-three {
    width: 100%;
    height: 35%;
    background: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}